html, body {
    height: 100%;
    max-width: 100%;
    margin: 0;
}

#base-container {
    /* Stretch https://stackoverflow.com/a/40445860/4046388 */
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#master-pane {
    margin-top: 10px;
}

.row-flex-container {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    text-align: center;
}

.center-horizontal {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-item {
    margin: 0 5px;
}

.row {
    display: flex;
    justify-content: center;
}

.header-icon {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.icon-button {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    font-size: 1.25em;
}

.icon-button:hover {
    color: var(--selection);
}

.kill-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #555;
    cursor: pointer;
}

.kill-switch-input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

.kill-switch-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #555;
}

.kill-switch-input:checked + .kill-switch-icon {
    color: var(--selection);
    /*color: #08ff00;*/
}

#lcd-designer-pane {
    width: 500px;
    height: 500px;
    background-color: var(--background);
    position: absolute;
}

#lcd-designer-placed-elements {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: var(--background);
    color: var(--form-text);
}

#lcd-designer-placed-elements > li {
    padding: 5px 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
}

#lcd-designer-placed-elements > li:last-child {
    border-bottom: none;
}

tbody tr:nth-child(odd), tbody tr:nth-child(even) {
    background-color: transparent;
}

.invalid {
    border: 1px solid red;
}

#lcd-designer-control-pad-left-right, #lcd-designer-control-pad-up, #lcd-designer-control-pad-down {
    color: var(--form-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* place elements vertical between each other */
    flex-wrap: wrap;
    align-content: center;
    /* place elements horizontal */
    flex-flow: row wrap;

}